
# backend
DJANGO_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
SECRET_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/visual_similarity_db
DEBUG=False

# object-data store
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPLOAD_SECRET_KEY=

# OPENAI
LLM_BASE_URL=https://api.openai.com
LLM_API_KEY=
LLM_MODEL=gpt-4o-mini

CODECARBON_API_KEY=

EXPERIMENT_ID=
PRODUCTION=false